<header>
  <nav style="display: flex; justify-content: space-between; align-items: center;">
    <img style="width: 30rem;" src="http://www.fitetsens.com/wp-content/themes/element/asset/img/Logo-Fit&Sens-72Ddpi.png">
    <ul style="
      width: 50rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    ">
      <li><a href="/">Accueil</a></li>
      <li><a href="/hello">Planning</a></li>
      <li><a href="/">Entreprises</a></li>
    </ul>
  </nav>
</header>
