:root{
  --brownBackground: #291d1f;
  --blueBarckground: #0068BA;
  --navbarGrey: #1d2529;
  --darkBlue: #004479;
  --mainReddish: #CF0034;
  --lightGrey: #A79B8D;
  --theYellow: #f19711;
  --mainfontColor: #212529;
  --mainfont: "Open Sans", Arial, Helvetica, sans-serif;
}
*{
  box-sizing: border-box;
}
.body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--mainfontColor);
  text-align: left;
}
// Styling calendar
.parent-calendar-event{
  width: 20rem;
  border: 1px solid red;
  margin: .5rem;
}
/*** index table with trainers' names & form with select ***/
.list-of-trainers{
  width: 45vw;
  border: 1px solid var(--darkBlue);
  padding: 1rem;
  h3{
    margin: 1rem 0;
    font-size: 3rem;
    line-height: 4.25rem;
    font-weight: 800;
  }
  table{
    width: 100%;
    margin: 0;
    padding: 0;
    tr{
      cursor: pointer;
    }
    tbody tr:hover{
      background-color: var(--theYellow);
      color: #fff;
    }
    td{
      height: 3rem;
      border: 1px solid var(--navbarGrey);
      padding: .5rem;
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
  button{
    border: none;
  }
}
form{
  width: 45vw;
  background-color: var(--blueBarckground);
  color: #fff;
  fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    legend{
      margin: 1rem;
      font-size: 3rem;
      line-height: 4.25rem;
      font-weight: 800;
    }
    .p-in-form{
      width: 20vw;
      display: flex;
      flex-direction: column;
      input{
        height: 2.7rem;
        margin-top: .5rem;
        border: none;
        background-color: var(--darkBlue);
      }
      .clear-form{
        width: 7rem;
        padding: 0.7rem;
        margin-top: 2rem;
        border-radius: .5rem;
        background-color: var(--theYellow);
        color: #fff;
        &:hover{
          background-color: #fff;
          color: var(--darkBlue);
        }
      }
    }
  }
}
.trainers-planning{
  width: 45vw;
  margin: 2rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blueBarckground);
  color: #fff;
  .legend{
    margin: 1rem;
    font-size: 2.5rem;
    line-height: 4.25rem;
    font-weight: 800;
  }
  label{
    margin: 1rem 0;
  }
  select{
    width: 30%;
    margin: 1rem 0;
    padding: .7rem 0;
    border: none;
    background-color: var(--lightGrey);
  }
  button{
    margin: 1rem 0;
    width: 10rem;
    padding: 0.7rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--theYellow);
    color: #fff;
    &:hover{
      background-color: #fff;
      color: var(--darkBlue);
    }
  }
}
/*** Entreprise page ***/
.submit-entreprise{
  width: 10rem;
  margin: 0 auto;
}
.heading-lg{
  margin: 1rem 0;
  font-size: 2.5rem;
  line-height: 4.25rem;
  font-weight: 800;
}
