:root {
  --brownBackground: #291d1f;
  --blueBarckground: #0068BA;
  --navbarGrey: #1d2529;
  --darkBlue: #004479;
  --darkGrey: #26252d;
  --mainReddish: #CF0034;
  --lightGrey: #A79B8D;
  --theYellow: #f19711;
  --mainfontColor: #212529;
  --mainfont: "Open Sans", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--mainfontColor);
  text-align: left;
}

select:focus,
textarea:focus,
button:focus,
input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.parent-calendar-event {
  width: 30rem;
  min-height: 22rem;
  border: 1px solid var(--darkBlue);
  margin: 0.5rem;
  padding: 1rem;
}
.parent-calendar-event .daytimeclass {
  min-height: 5rem;
}

/*** index table with trainers' names & form with select ***/
.list-of-trainers {
  width: 45vw;
  border: 1px solid var(--darkBlue);
  padding: 1rem;
}
.list-of-trainers h3 {
  margin: 1rem 0;
  font-size: 3rem;
  line-height: 4.25rem;
  font-weight: 800;
}
.list-of-trainers table {
  width: 100%;
  margin: 0;
  padding: 0;
}
.list-of-trainers table tr {
  cursor: pointer;
}
.list-of-trainers table tbody tr:hover {
  background-color: var(--theYellow);
  color: #fff;
}
.list-of-trainers table td {
  height: 3rem;
  border: 1px solid var(--navbarGrey);
  padding: 0.5rem;
}
.list-of-trainers table td a {
  text-decoration: none;
  color: inherit;
}
.list-of-trainers button {
  border: none;
}

form {
  width: 45vw;
  background-color: var(--blueBarckground);
  color: #fff;
}
form fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
form fieldset legend {
  margin: 1rem;
  font-size: 3rem;
  line-height: 4.25rem;
  font-weight: 800;
}
form fieldset .p-in-form {
  width: 20vw;
  display: flex;
  flex-direction: column;
}
form fieldset .p-in-form input {
  height: 2.7rem;
  margin-top: 0.5rem;
  border: none;
  background-color: var(--darkBlue);
}
form fieldset .p-in-form .clear-form {
  width: 7rem;
  padding: 0.7rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--theYellow);
  color: #fff;
}
form fieldset .p-in-form .clear-form:hover {
  background-color: #fff;
  color: var(--darkBlue);
}

.trainers-planning {
  width: 45vw;
  margin: 2rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blueBarckground);
  color: #fff;
}
.trainers-planning .legend {
  margin: 1rem;
  font-size: 2.5rem;
  line-height: 4.25rem;
  font-weight: 800;
}
.trainers-planning label {
  margin: 1rem 0;
}
.trainers-planning select {
  width: 30%;
  margin: 1rem 0;
  padding: 0.7rem 0;
  border: none;
  background-color: var(--lightGrey);
}
.trainers-planning button {
  margin: 1rem 0;
  width: 10rem;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theYellow);
  color: #fff;
}
.trainers-planning button:hover {
  background-color: #fff;
  color: var(--darkBlue);
}

/*** Entreprise page ***/
.submit-entreprise {
  width: 10rem;
  margin: 0 auto;
}

.heading-lg {
  margin: 1rem 0;
  font-size: 2.5rem;
  line-height: 4.25rem;
  font-weight: 800;
}

.list-of-companies {
  width: 100%;
  border: none;
}
.list-of-companies table tr td:nth-of-type(6n) {
  color: var(--darkBlue);
}
.list-of-companies table tr td:nth-of-type(7n) button {
  background-color: var(--blueBarckground);
  padding: 0.3rem;
  color: #fff;
}
.list-of-companies table tr td:nth-of-type(6n),
.list-of-companies table tr td:nth-of-type(7n) {
  text-align: center;
}

#update-the-company {
  width: 100%;
  background-color: var(--lightGrey);
  color: var(--darkGrey);
}
#update-the-company fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#update-the-company fieldset legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: normal;
}
#update-the-company fieldset legend div {
  background-color: var(--theYellow);
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
#update-the-company fieldset legend div:hover {
  background-color: #fff;
  color: var(--darkBlue);
}
#update-the-company fieldset input[name=idput] {
  pointer-events: none;
  filter: brightness(1.75);
}
#update-the-company fieldset input[type=submit] {
  width: 7rem;
  padding: 0.7rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theYellow);
  color: #fff;
  cursor: pointer;
}
#update-the-company fieldset input[type=submit]:hover {
  background-color: #fff;
  color: var(--darkBlue);
}
#update-the-company fieldset p {
  display: flex;
  flex-direction: column;
}
#update-the-company fieldset p:first-of-type {
  width: 7rem;
}
#update-the-company fieldset p:nth-of-type(3n) {
  width: 25rem;
}
#update-the-company fieldset p:nth-of-type(5n) {
  width: 15rem;
}
#update-the-company fieldset p input {
  margin: 0.3rem 0;
  padding: 0.3rem;
  background-color: var(--darkGrey);
  color: #fff;
  border: none;
}

/*** Planning and Monthly planning page ***/
.month-btn {
  width: 8rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
}

.month-btn a {
  text-decoration: none;
  color: inherit;
}

.previous-btn {
  background-color: var(--blueBarckground);
}

.next-btn {
  background-color: var(--theYellow);
}

/*** Individual planning form ***/
#trainers-planning-form {
  width: 100%;
}
#trainers-planning-form fieldset {
  padding: 0.5rem;
}
#trainers-planning-form fieldset p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#trainers-planning-form fieldset p:nth-of-type(-n+3) {
  width: 33%;
}
#trainers-planning-form fieldset p:nth-child(n+4):nth-child(-n+8) {
  width: 25%;
  text-align: center;
}
#trainers-planning-form fieldset p:nth-child(9n), #trainers-planning-form fieldset p:last-of-type {
  width: 100%;
}
#trainers-planning-form fieldset p:nth-child(9n) {
  margin: 1rem 0;
  padding: 0.5rem 0;
  input-height: 2rem;
  input-text-align: center;
}
#trainers-planning-form fieldset p:nth-child(n+10):nth-child(-n+14) input {
  width: 6rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#trainers-planning-form fieldset p:nth-child(n+10):nth-child(-n+14) input[name=total_classes] {
  color: var(--theYellow);
}
#trainers-planning-form input {
  background-color: var(--darkBlue);
  color: #fff;
  border: none;
  padding: 0.5rem;
}
#trainers-planning-form input[name=trainer_id],
#trainers-planning-form input[name=name],
#trainers-planning-form input[name=fname] {
  background-color: var(--theYellow);
  pointer-events: none;
}
#trainers-planning-form input[type=submit] {
  width: 7rem;
  padding: 0.7rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theYellow);
  color: #fff;
  cursor: pointer;
}
#trainers-planning-form input[type=submit]:hover {
  background-color: #fff;
  color: var(--darkBlue);
}

/*# sourceMappingURL=styles.css.map */
